# 依赖
node_modules/

# 构建输出
dist/

# 环境变量
.env
.env.local

# 日志
*.log
npm-debug.log*

# 编辑器
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 临时文件
*.tmp
*.temp

# 测试文件
public/quests/
public/appliedenergistics2-forge-15.5.0